/* Add screen styles below */

body {
    background: #fff;
    font-family: Helvetica, sans-serif;
    border-top: 15px solid #424242;
    margin: 0;
    color: #424242;
    margin: 0 auto;
    
}

main {
    margin: 0 auto;
    width: 800px;


}

.masthead {
    background-image: url(images/Home\ Screen.png);
    background-size: cover;
    background-position: bottom;
    height: 250px;
    border-radius: 20px;
    
}





div.code-html {
    padding: 25px;
    background: #424242;
    color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

img {
    width: 45%;
}



h2 {
    margin: 0 0 10px 0;
}

.details {
    display: flex;
}

.details section {
    flex-grow: 1;
    flex-basis: 0;
    background: #e9eaec;
    border-radius: 20px;
    margin-top: 25px;
}

.details section p {
    margin: 20px;

}

p {
    margin: 0;
    line-height: 1.4em;

    
}

